<template>
  <div class="inventory-tab">
    <img
      alt="Inventory"
      class="background-image"
      :src="require('@/assets/empty_Inventory.png')"
    >
    <div class="item-list-container">
      <div
        v-if="botInventory != undefined"
        class="item-list"
      >
        <div
          v-for="item in botInventory"
          :key="botInventory.indexOf(item)"
          class="item"
          :style="{ 'background-image': 'url(' +imageUrl + item.id + ')' }"
        >
          <p
            v-if="item.amount > 1"
            class="item-count"
          >
            {{ item.amount }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MyBotsPage",
  props: {
    botInventory: {
      type: Array,
      default: function() {
        return [];
      }
    }
  },
  data() {
    return {
      inventoryData: [
        { id: 333, amount: 1 },
        { id: 333, amount: 1 },
        { id: 333, amount: 1 },
        { id: 579, amount: 1 },
        { id: 1061, amount: 1 },
        { id: 563, amount: 21 }
      ],
      imageUrl:
        "http://services.runescape.com/m=itemdb_oldschool/1567429262353_obj_sprite.gif?id="
    };
  }
};
</script>

<style scoped>
.inventory-tab {
  width: 200px;
  height: 300px;
  position: relative;
}

.background-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.item-list-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
  padding: 10px;
}

.item {
  background-size: cover;
  margin: 4px;
  margin-bottom: -2px;
}

.item-count {
  position: relative;
  top: 0;
  left: 0;
  text-align: left;

  margin: 0;
  padding: 0;

  color: #ffff00;
  font-size: 14px;
  text-shadow: 2px 2px black;
}
</style>