<template>
  <div class="my-bots">
    <div class="map">
      123
    </div>
    <pre>{{ botData }}</pre>
    <div class="bot-top-menu">
      <select v-model="selectedBot">
        <option
          disabled
          value
        >
          Please select one
        </option>
        <option
          v-for="bot in botData"
          :key="bot.BotName"
          :value="bot"
        >
          {{ bot.BotName }}
        </option>
      </select>
    </div>

    <div class="bot-tab-panel">
      <Inventory :bot-inventory="selectedBot.BotData.inventory" />
    </div>

    <div class="bot-info-panel">
      123
    </div>
  </div>
</template>

<script>
import { botServices } from "../_services/bot.services";
import Inventory from "../components/Tabs/Inventory.vue";

export default {
  name: "MyBotsPage",
  components: {
    Inventory
  },
  data() {
    return {
      botData: null,
      selectedBot: null
    };
  },

  created() {
    botServices.getAll().then(data => {
      this.botData = data;
      this.selectedBot = data[0];
    });
  }
};
</script>

<style scoped>
.my-bots {
  display: grid;
  grid-template-columns: 2fr auto;
  grid-template-rows: auto;
  grid-template-areas:
    "map botTopMenu"
    "map botTabMenu"
    "botInfo botTabMenu";
}

.map {
  grid-area: map;
  background-color: bisque;
}

.bot-tab-panel {
  grid-area: botTabMenu;
  background-color: rgb(127, 255, 138);
}

.bot-top-menu {
  grid-area: botTopMenu;
  background-color: aquamarine;
}

.bot-info-panel {
  grid-area: botInfo;
  background-color: blueviolet;
}
</style>