<template>
  <div class="login-form">
    <div class="container">
      <form @submit.prevent="handleSubmit">
        <h2 class="text-center">
          Sign up
        </h2>
        <div class="form-group">
          <input
            v-model="user.username"
            type="text"
            class="form-control"
            placeholder="Username"
            required="required"
          >
          <div
            v-if="submitted && errors.has('firstName')"
            class="invalid-feedback"
          >
            {{ errors.first('firstName') }}
          </div>
        </div>
        <div class="form-group">
          <input
            v-model="user.password"
            type="password"
            class="form-control"
            placeholder="Password"
            required="required"
          >
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            required="required"
          >
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary btn-block"
          >
            Sign Up
          </button>
        </div>
      </form>
      <p class="text-center">
        <router-link :to="{ path: 'Login' }">
          Already got an account?
        </router-link>
      </p>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data() {
    return {
      user: {
        username: "",
        password: ""
      },
      submitted: false
    };
  },
  computed: {
    ...mapState("account", ["status"])
  },
  methods: {
    ...mapActions("account", ["register"]),
    handleSubmit(e) {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          this.register(this.user);
        }
      });
    }
  }
};
</script>