<template>
  <div class="hello">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <router-link
            :to="{ path: 'home' }"
            class="navbar-brand"
          >
            BotManager
          </router-link>
        </div>
        <ul class="nav navbar-nav">
          <router-link
            tag="li"
            active-class="active"
            class="menu-item"
            :to="{ path: 'home' }"
          >
            <a>Home</a>
          </router-link>
          <router-link
            v-show="status.loggedIn"
            tag="li"
            active-class="active"
            class="menu-item"
            :to="{ path: 'MyBots' }"
          >
            <a>MyBots</a>
          </router-link>
        </ul>
        <ul
          v-show="!status.loggedIn"
          class="nav navbar-nav navbar-right"
        >
          <router-link
            tag="li"
            active-class="active"
            class="menu-item"
            :to="{ path: 'Login' }"
          >
            <a>Login</a>
          </router-link>
          <router-link
            tag="li"
            active-class="active"
            class="menu-item"
            :to="{ path: 'Register' }"
          >
            <a>Sign Up</a>
          </router-link>
        </ul>
        <ul
          v-show="status.loggedIn"
          class="nav navbar-nav navbar-right"
        >
          <li>
            <a
              href="#"
              @click="UserLogout"
            >Logout</a>
          </li>
          <li>
            <router-link :to="{ path: 'Profile' }">
              Profile
            </router-link>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  computed: {
    ...mapState("account", ["status"])
  },
  methods: {
    ...mapActions("account", ["logout"]),
    UserLogout() {
      console.log("Trying to logout");
      this.logout();
    }
  }
};
</script>
<style>
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#Site-content {
  flex: 1;
}

html {
  font-family: "Playfair Display", Sans-serif;
}
</style>
